<div class="page-header">
  <h1>Add Owner</h1>
</div>

<% if @owner.errors.any? %>
  <% @owner.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_owner" class="form-horizontal">

  <!-- Label and input for player_id -->
  <div class="form-group">

    <label for="player_id" class="col-sm-2 control-label">
      Player
    </label>
    <div class="col-sm-10">

      <input type="text" id="player_id" name="player_id" placeholder="Player" class="form-control" value="<%= @owner.player_id %>">

    </div>

  </div>


  <!-- Label and input for user_id -->
  <div class="form-group">

    <label for="user_id" class="col-sm-2 control-label">
      User
    </label>
    <div class="col-sm-10">

      <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @owner.user_id %>">

    </div>

  </div>


  <!-- Label and input for created_at -->
  <div class="form-group">

    <label for="created_at" class="col-sm-2 control-label">
      Created at
    </label>
    <div class="col-sm-10">

      <input type="text" id="created_at" name="created_at" placeholder="Created at" class="form-control" value="<%= @owner.created_at %>">

    </div>

  </div>


  <!-- Label and input for updated_at -->
  <div class="form-group">

    <label for="updated_at" class="col-sm-2 control-label">
      Updated at
    </label>
    <div class="col-sm-10">

      <input type="text" id="updated_at" name="updated_at" placeholder="Updated at" class="form-control" value="<%= @owner.updated_at %>">

    </div>

  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Owner" class="btn btn-primary">
    </div>
  </div>
</form>
