<div class="page-header">
  <h1>Owner #<%= @owner.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Player</dt>
  <dd><%= @owner.player_id %></dd>


  <dt>User</dt>
  <dd><%= @owner.user_id %></dd>


  <dt>Created at</dt>
  <dd><%= @owner.created_at %></dd>


  <dt>Updated at</dt>
  <dd><%= @owner.updated_at %></dd>


</dl>
