<div class="page-header">
  <h1>Edit Event #<%= @event.id %></h1>
</div>

<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_event/<%= @event.id %>" class="form-horizontal">

  <!-- Label and input for game -->
  <div class="form-group">

    <label for="game" class="col-sm-2 control-label">
      Game
    </label>
    <div class="col-sm-10">

      <input type="text" id="game" name="game" placeholder="Game" class="form-control" value="<%= @event.game %>">

    </div>

  </div>


  <!-- Label and input for played_on -->
  <div class="form-group">

    <label for="played_on" class="col-sm-2 control-label">
      Played on
    </label>
    <div class="col-sm-10">

      <input type="text" id="played_on" name="played_on" placeholder="Played on" class="form-control" value="<%= @event.played_on %>">

    </div>

  </div>


  <!-- Label and input for gametime -->
  <div class="form-group">

    <label for="gametime" class="col-sm-2 control-label">
      Gametime
    </label>
    <div class="col-sm-10">

      <input type="text" id="gametime" name="gametime" placeholder="Gametime" class="form-control" value="<%= @event.gametime %>">

    </div>

  </div>


  <!-- Label and input for home_team -->
  <div class="form-group">

    <label for="home_team" class="col-sm-2 control-label">
      Home team
    </label>
    <div class="col-sm-10">

      <input type="text" id="home_team" name="home_team" placeholder="Home team" class="form-control" value="<%= @event.home_team %>">

    </div>

  </div>


  <!-- Label and input for away_team -->
  <div class="form-group">

    <label for="away_team" class="col-sm-2 control-label">
      Away team
    </label>
    <div class="col-sm-10">

      <input type="text" id="away_team" name="away_team" placeholder="Away team" class="form-control" value="<%= @event.away_team %>">

    </div>

  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Event" class="btn btn-primary">
    </div>
  </div>
</form>
