<div class="page-header">
  <h1>Event #<%= @event.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Game</dt>
  <dd><%= @event.game %></dd>


  <dt>Played on</dt>
  <dd><%= @event.played_on %></dd>


  <dt>Gametime</dt>
  <dd><%= @event.gametime %></dd>


  <dt>Home team</dt>
  <dd><%= @event.home_team %></dd>


  <dt>Away team</dt>
  <dd><%= @event.away_team %></dd>


</dl>
