<div class="page-header">
  <h1>Players</h1>
</div>


<p><a href="/players/new" class="btn btn-primary">Add a New Player</a></p>


<table class="table table-hover">
  <thead>
    <tr>

      <th></th>

      <th>Name</th>

      <th>Position</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>

        <td><img src="<%= player.image_url %>" width="90"</td>

        <td><%= player.name %></td>

        <td><%= player.position %></td>

        <td>
          <a href="/players/<%= player.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/players/<%= player.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_player/<%= player.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<% @players.each do |player| %>
  <div class="row" id="player_<%= player.id %>">
    <div class="col-md-2 col-md-offset-1">
      <div class="pull-left">
        <p class="text-right">
          <a href="/users/<%= current_user.id %>">
            <%= current_user.username %>
          </a>
        </p>
        <p class="text-right"><%= time_ago_in_words(player.created_at) %> ago</p>
      </div>
      <div class="pull-right">
        <img src="<%= current_user.avatar_url %>" class="img-responsive pull-right">
      </div>
    </div>
    <div class="col-md-6 well">
      <div class="thumbnail">
        <img src="<%= player.image_url %>">
          <p>
           <a href="/players/<%= player.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>

          </p>
        </div>
      </div>

    </div>
  </div>
<% end %>
